:root {
   --borderWidth: 7px;
   --height: 24px;
   --width: 12px;
   --borderColor: #78b13f;
}

.selected::after {
   content: "ssssss";
   height: 24px;
   width: 12px;
   background-color: #78b13f;
   position: absolute;
   top: 0px;
   right: 0px;
}

.check {
   display: inline-block;
   transform: rotate(45deg);
   height: var(--height);
   width: var(--width);
   border-bottom: var(--borderWidth) solid var(--borderColor);
   border-right: var(--borderWidth) solid var(--borderColor);
}